<p>
 {{homeTitle}}
</p>
<ng-content></ng-content>

<!-- property binding -->
<input [value]="myString"/>
<input [attr.required]="myBoolean"/>
<button (click)="alertMe(ninja.name)" type="button">Click Me</button>
<br>
<br>
<!-- 2 way data binding -->
<label>Ninja Name</label>
<input [(ngModel)]="ninja.name">
<label>Ninja Belt</label>
<input [(ngModel)]="ninja.belt">

<p>{{ninja.name}}</p>
<p>{{ninja.belt}}</p>

<br>

<p>{{ninja2.name}}</p>
<p>{{ninja2.belt}}</p>

<br>
<button (click)="fireYellEvent($event)">Pass data to parent</button>

